<footer>

</footer>

<!--DASHBOARD - PIZZA - Relação Total   -->

<script th:inline="javascript">
    const dataAtual = new Date();
    const data_graficoPizzaRelacaoTotal =  /*[[${data_graficoPizzaRelacaoTotal}]]*/ [];
    const graficoPizzaRelacaoTotal = document.getElementById('graficoPizzaRelacaoTotal');
    new Chart(graficoPizzaRelacaoTotal, {
        type: 'pie',
        data: {
            labels: ['Animais Pré-diagnosticados', 'Animais Saudáveis', 'Animais sem Análise' ],
            datasets: [{
                label: 'Quantidade',
                data: data_graficoPizzaRelacaoTotal,
                borderWidth: 1
            }]
        },
        options: {
            responsive: true,
            plugins: {
                legend: {
                    position: 'top',
                    align: 'start',
                },
                title: {
                    display: true,
                    text: 'Relação de Análises Recentes de Animais',
                }
            }
        },
    });


    /* DASHBOARD - BARRAS - Gráfico Anual  */
    const data_graficoColunaCasosMensais =  /*[[${data_graficoColunaCasosMensais}]]*/ [];

    const graficoBarrasMortes = document.getElementById('graficoBarrasMortes');

    new Chart(graficoBarrasMortes, {
        type: 'bar',
        data: {
            labels: ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho','Julho','Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro'  ],
            datasets: [{
                label: 'Quantidade de Animais',
                data: data_graficoColunaCasosMensais,
                borderWidth: 1
            }]
        },
        options: {
            responsive: true,

            maintainAspectRatio: false,
            scales: {
                y: {
                    beginAtZero: true
                }
            },
            plugins: {
                legend: {
                    position: 'top',
                },
                title: {
                    display: true,
                    text: 'Quantidade de Animais Com DRB por Mês',
                }
            }

        }
    });


</script>
<script  th:inline="javascript" th:src="@{/scripts/dashboards.js}"></script>
<script  th:inline="javascript" th:src="@{/scripts/functions.js}"></script>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>