@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');

*{
    font-family: "Sora", sans-serif;
}
h1{
    font-weight: 700;
    font-size: 2.2rem;
}h2{
    font-weight: 700;
    font-size: 1.8rem;
}h3{
    font-weight: 700;
    font-size: 1.2rem;
}
body{
    background-color:#212121;
}

/* ----- Shared ----- */
:root{
    --gradient-color:linear-gradient(90deg, hsla(357, 100%, 51%, 1), hsla(173, 91%, 54%, 1), hsla(51, 100%, 61%, 1));
}

.borderGradient{
    background: linear-gradient(#1C1C1C, #1C1C1C)
    padding-box,var(--gradient-color)  border-box;

    border-width: 2px;
    border-style: solid;
    border-color: transparent;
    border-radius: 25px;
}

/* ----- Header ----- */
header{
    display:flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;

    height: 10vh;
    padding:5px;

    background-color: #1C1C1C;

    border: 2px solid;
    border-image-slice: 1;
    border-image-source: var(--gradient-color);
    border-left: 0;
    border-right: 0;
    border-top: 0;

    color: #fff;
}
header ul{
    list-style: none;
    padding: 0;
    margin: 0;

    display: flex; /* Exibe os itens em linha */
    gap: 50px; /* Espaçamento entre os itens */
}
header ul li a{
    color: #fff;
    text-decoration: none;
}

.headerBtnLogin{
    color:#fff;
    width: 100px;
}

/* ----- Login ----- */
.loginWrapper{
    color:#fff;
}
.btnLogin{
    color:#fff;
    width: 200px;
}

/* ----- Lista de Analises ----- */
.listaWrapper{
    color:#fff;
}


/* ----- Análises ----- */
.analiseItem{
    background: linear-gradient(#212121, #212121)
    padding-box,linear-gradient(to left, hsla(0, 0%, 100%, 1), hsla(0, 0%, 66%, 1), hsla(0, 0%, 40%, 1)) border-box;

    border-width: 1px;
    border-style: solid;
    border-color: transparent;
    border-radius: 25px;

    padding: 10px;
}
.analiseAnimalTitle{
    color:#fff;
    font-size: 1.5rem;
}
/* ----- Footer ----- */
footer{
    background: linear-gradient(135deg, hsla(357, 100%, 51%, 1) 0%, hsla(173, 91%, 54%, 1) 50%, hsla(51, 100%, 61%, 1) 100%);
    height:10vh;
}