@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');

*{
    font-family: "Sora", sans-serif;
}
h1{
    font-weight: 700;
    font-size: 2.2rem;
}h2{
    font-weight: 700;
    font-size: 1.8rem;
}h3{
    font-weight: 700;
    font-size: 1.2rem;
}
body{
    background-color:#212121;
}

/* ----- Shared ----- */
:root{
    --gradient-color:linear-gradient(90deg, hsla(357, 100%, 51%, 1), hsla(173, 91%, 54%, 1), hsla(51, 100%, 61%, 1));
}

.borderGradient{
    background: linear-gradient(#1C1C1C, #1C1C1C)
    padding-box,var(--gradient-color)  border-box;

    border-width: 2px;
    border-style: solid;
    border-color: transparent;
    border-radius: 25px;
}

main{
    min-height: 80vh;
    max-height: fit-content;

    padding-inline: 10vw;

    margin-top:15vh;
}

/* ----- Header ----- */

header ul{
    list-style: none;
    padding: 0;
    margin: 0;

    display: flex; /* Exibe os itens em linha */
    gap: 50px; /* Espaçamento entre os itens */
}
header ul li a{
    color: #fff;
    text-decoration: none;
}

.headerBtnLogin{
    color:#fff;
    width: 100px;
}

.navbar{


    min-height: 10vh;
    max-height:fit-content;

    background-color: #1C1C1C;

    border: 2px solid;
    border-image-slice: 1;
    border-image-source: var(--gradient-color);
    border-left: 0;
    border-right: 0;
    border-top: 0;

    color: #fff;
}

.navbarButton{
    background: linear-gradient(#fff, #fff)
    padding-box,var(--gradient-color)  border-box;

    border-width: 2px;
    border-style: solid;
    border-color: transparent;
    border-radius: 25px;
}
.navbar-nav li{
    text-align: center;
}
.navbarLoginLogoutBtn{
    text-align:center;
}

/* ----- Login ----- */
.loginWrapper{
    color:#fff;
}
.btnLogin{
    color:#fff;
    width: 200px;
}

.loginTitle{
    font-weight:500;
    font-size: 2.3rem;
}
.inputLogin{
    background-color:transparent;
    border:none;
    color:#8a8888;
}
.inputLogin:focus{
    background-color:transparent;
    color:#8a8888;
    border:none;
}
.inputLogin::placeholder{
    color:#8a8888;
    opacity: 1; /* Firefox */
}
.loginLink a{
    color:#fff;
    text-decoration:none;
    font-weight:800;
}

/* ----- Lista de Analises ----- */
.listaWrapper{
    color:#fff;
}

/* ----- Cadastro Imagem ----- */
.imagemCadastroWrapper{

}
.imagemCadastroWrapper h1{
    color: #fff;
}
.labelImagemForm{
    color:#fff;
    font-size:1.2rem;
}
.image-upload {
    position: relative;
    width: 200px; /* Set desired width */
    height: 200px; /* Set desired height */
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.custom-file-upload-label{
    width:100%;
    height:100%;
    text-align:center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.image-upload input[type="file"] {
    display: none;
}

/* ----- Análises ----- */
.analiseItem{
    background: linear-gradient(#212121, #212121)
    padding-box,linear-gradient(to left, hsla(0, 0%, 100%, 1), hsla(0, 0%, 66%, 1), hsla(0, 0%, 40%, 1)) border-box;

    border-width: 1px;
    border-style: solid;
    border-color: transparent;
    border-radius: 25px;

    padding: 10px;
}
.analiseAnimalTitle{
    color:#fff;
    font-size: 1.5rem;
}

/* ----- Home ----- */
.homeTitle{
    color:#fff;
}

.homeText{
    font-size:1.3rem;
}
/* ----- Footer ----- */
footer{
    background: linear-gradient(135deg, hsla(357, 100%, 51%, 1) 0%, hsla(173, 91%, 54%, 1) 50%, hsla(51, 100%, 61%, 1) 100%);
    height:10vh;
}