<!--HEADER -->
<div th:insert="~{fragments/header}"></div>
<!-- CONTENT -->
<div class="container p-3">
	<h1 class="text-center">InfraCow</h1>
	<hr>
	<div class="container shadow pt-5 pb-5">
		<form action="#" th:action="@{/imagem/addImagem}" method="post" enctype="multipart/form-data">
			<div class="d-flex flex-column">
				<div>
					<label for="">Insira a imagem Termográfica:</label>
					<br>
					<input type="file" name="arquivo" alt="Input For Images" accept="image/*" class="form-control" required>
				</div>
				<div>
					<label for="">Detalhes Extras sobre comportamento do animal:</label>
					<br>
					<input type="text" name="comentarioExtra" class="form-control">
				</div>
				<input class="btn btn-danger mt-5" type="submit" value="Enviar Imagem para análise">
			</div>
		</form>
	</div>
</div>

<!-- FOOTER -->
<div th:insert="~{fragments/footer}"></div>