<!--HEADER -->
<div th:insert="~{fragments/header}"></div>
<!-- CONTENT -->
<div class="container p-3">
	<h1 class="text-center">InfraCow</h1>
	<hr>
	<div class="container shadow pt-5 pb-5">
		<form action="api/" method="post">
			<div class="d-flex flex-column">
				<div>
					<label for="">Insira a imagem Termográfica</label>
					<br>
					<input type="file" src="" alt="" accept="image/png, image/gif, image/jpeg">
				</div>
				<div>
					<label for="">Insira a imagem Termográfica</label>
					<br>
					<input type="file" src="" alt="Image Input" accept="image/png, image/gif, image/jpeg">
				</div>
				<input class="btn btn-danger" type="submit" value="Enviar Imagem para análise">
			</div>
		</form>
	</div>
</div>

<!-- FOOTER -->
<div th:insert="~{fragments/footer}"></div>