<!--HEADER -->
<div th:replace="fragments/header"></div>
<!-- CONTENT -->
<main>
    <div class="container p-3 listaWrapper">
        <h1 class="text-start">Visão Geral</h1>
        <div class="container p-3">
            <div class="row" >
                <div class="border col-md-6 col-sm-12" style="height:40vh">
                    <canvas id="graficoBarrasMortes"></canvas>
                </div>
                <div class="border col-md-6 col-sm-12" style="height:40vh">
                    <canvas id="graficoPizzaRelacaoTotal"></canvas>
                </div>
            </div>
        </div>
        <h1 class="text-start">Lista de Análises</h1>
        <div class="d-flex flex-column" th:each="animal : ${animais}">
            <div class="container borderGradient pt-2 pb-2 ps-5 pe-5 mt-5">
                <h2 class="btn analiseAnimalTitle" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseWidthExample"
                    aria-expanded="false" aria-controls="collapseWidthExample"
                    th:attr="data-bs-target='#collapse' + ${animal.id}"
                >
                    Identificador: <span th:text="${animal.codigoIdentificacao}"></span> /
                    Idade: <span th:text="${animal.idade}"></span>
                </h2>
                <div class="collapse" th:id="'collapse' + ${animal.id}" th:each="imagem : ${animal.imagens}">
                    <div class="d-flex flex-column align-items-start analiseItem mt-3">
                        <h3>Informações Adicionais: <span th:text="${imagem.informacoesAdicionaisAnimal}"></span></h3>
                        <h3>Peso: <span th:text="${animal.peso}"></span>Kg</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>


<!-- FOOTER -->
<div th:replace="fragments/footer"></div>
