<!--HEADER -->
<div th:replace="fragments/header"></div>
<!-- CONTENT -->
<main style="position:relative">
    <div class="d-flex justify-content-center align-items-center" style="position:absolute;height:100%; width:100%;">
        <div class="container row pt-2 pb-2 loginWrapper borderGradient ">
            <div class="col-md-5 col-sm-12 text-center p-5">
                <img th:src="@{/images/logo_infracow_colored.png}" alt="Logo do Projeto Infracow" class="img-fluid">
            </div>
            <div class="col-md-7 col-sm-12 d-flex flex-column align-items-center justify-content-center ">
                <form action="#" th:action="@{/user/addUser}" th:object="${usuario}" method="post">
                    <h2 class="text-start loginTitle">Cadastro</h2>
                    <!-- <div class="col-4">
                         <label for="nome">Insira o nome:</label>
                         <br>
                         <input class="form-control" type="text" th:field="*{nome}" id="nome" placeholder="Nome">
                     </div>-->
                    <label for="email">Email:</label>
                    <br>
                    <input class="form-control inputLogin" type="email" th:field="*{email}" id="email"
                           placeholder="exemplo@gmail.com" required>
                    <label for="senha" class="mt-3">Senha:</label>
                    <br>
                    <input class="form-control inputLogin" type="text" th:field="*{senha}" minlength="8" id="senha"
                           placeholder="*****" required>
                    <div class="text-center mt-3">
                        <input class="btn btnLogin borderGradient" type="submit" value="Cadastrar">
                    </div>
                    <div class="container text-center mt-3">
                        <span class="loginLink">Já possui uma conta? <a href="#"
                                                                          th:href="@{/user/}">Fazer Login</a></span>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>

<!-- FOOTER -->
<div th:replace="fragments/footer"></div>