<!--HEADER -->
<div th:replace="fragments/header"></div>

<!-- CONTENT -->
<div class="d-flex justify-content-center align-items-center" style="min-height: 80vh; max-height:fit-content; margin: 5px;">
    <div class="container row pt-2 pb-2 loginWrapper borderGradient">
        <div class="col-md-5 col-sm-12 text-center p-5">
            <img th:src="@{/images/logo_infracow_colored.png}" alt="Logo do Projeto Infracow" class="img-fluid">
        </div>
        <div class="col-md-7 col-sm-12">
            <form action="#" th:action="@{/user/cadastroUser}" method="get">
                <div class="d-flex flex-column row g-2 align-items-center">
                    <h2 class="text-center">Login</h2>
                    <div class="col-4">
                        <label for="userNomeInput">Insira o nome de usuário</label>
                        <br>
                        <input class="form-control" type="text" name="userNome" id="userNomeInput"
                               placeholder="Insira o nome de usuário" required>
                    </div>
                    <div class="col-4 mt-5">
                        <label for="userSenhaInput">Insira a senha</label>
                        <br>
                        <input class="form-control" type="password" name="userSenha" id="userSenhaInput"
                               placeholder="Insira a senha" required>
                    </div>
                    <div class="text-center mt-5">
                        <input class="btn btnLogin borderGradient" type="submit" value="Login">
                    </div>
                    <span class="text-center">Não possui uma conta? <a href="#"
                                                                       th:href="@{/user/cadastroUser}">Cadastre-se</a></span>
                </div>
            </form>
        </div>
    </div>
</div>

<div th:replace="fragments/footer"></div>