<!--HEADER -->
<div th:replace="fragments/header"></div>
<!-- CONTENT -->
<div class="d-flex justify-content-center align-items-center" style="height: 90vh; margin: 0;">
    <div class="container row pt-2 pb-2 loginWrapper borderGradient ">
        <div class="col-md-5 col-sm-12 text-center p-5">
            <img th:src="@{/images/logo_infracow_colored.png}" alt="Logo do Projeto Infracow" class="img-fluid">
        </div>
        <div class="col-md-7 col-sm-12">
            <h2 class="text-center">Cadastro</h2>
            <form action="#" th:action="@{/user/addUser}" th:object="${usuario}" method="post">
                <div class="d-flex flex-column row g-2 align-items-center">
                    <div class="col-4">
                        <label for="nome">Insira o nome:</label>
                        <br>
                        <input class="form-control" type="text" th:field="*{nome}" id="nome" placeholder="Nome">
                    </div>
                    <div class="col-4">
                        <label for="email">Insira o nome de usuário:</label>
                        <br>
                        <input class="form-control" type="text" th:field="*{email}" id="email"
                               placeholder="Nome de Usuário">
                    </div>
                    <div class="col-4">
                        <label for="senha">Insira a senha:</label>
                        <br>
                        <input class="form-control" type="text" th:field="*{senha}" minlength="8" id="senha"
                               placeholder="Senha">
                    </div>
                    <div class="text-center mt-5">
                        <input class="btn btnLogin borderGradient" type="submit" value="Cadastrar">
                    </div>
                    <span class="text-center">Já possui uma conta? <a href="#"
                                                                      th:href="@{/user/}">Fazer Login</a></span>
                    <span class="text-center"><a href="#" th:href="@{/imagem/cadastroImagem}">Inserir Imagem</a></span>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- FOOTER -->
<div th:replace="fragments/footer"></div>